# ------------------------------------ Assets ----------------------------------- #
node_modules/**/*
# ------------------------------------- Vite ------------------------------------ #
vite.config.ts

# ---------------------------------- Tyepscript --------------------------------- #
tsconfig.json